@page "/channel/{Channel}/{UserName}/{Token}"

@inherits ChannelBase

<ul>
    @foreach (var messageResult in Messages)
    {
        <li>
            <Message Value="@messageResult" />
        </li>
    }
</ul>
